@model List<Nop.Web.Models.Flitts.Catalog.FlashSaleViewModel>
    
@{
        ViewBag.Title = "Flash Sale";
}

    <div class="container">
        @foreach (var item in Model)
        {

        }
    </div>

