@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;
@if (!Model.DisableWishlistButton && Model.UpdatedShoppingCartItemId == 0)
{
    <div class="col-12 m-0 p-0" style="margin-top: -25px !important;">
        <input type="button" id="add-to-wishlist-button-@Model.ProductId" 
            class="btn-addcart button_sare" 
            value="@T("ShoppingCart.AddToWishlist")" data-productid="@Model.ProductId" 
            onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form');return false;" 7/>
    </div>
}