@* subcribe *@

<div class="row modal-subcribe">
  <div class="col-1 col-sm-4 col-md-4"></div>
  <div class="col-10 col-sm-4 col-md-4 text-center" style="background-color: white; padding: 20px !important;">
    <span class="abhaya" style="font-size: 30px; color: #454545;">Craving for Updates?</span>
    <br><br>
    <span class="worksans-reg" style="font-size: 16px; color: #525252;">Subscribe and catch up with  <br> our latest info and promotions!</span>
    <br><br>
    <div class="d-flex justify-content-center align-items-center">
      <div id="nieuwsbrief" style="width: 65%;">
        <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group d-flex justify-content-center mb-4 mb-md-0" style="vertical-align:top;">
            <input id="mce-EMAIL" class="email form-footer" type="email" style="border-bottom: 1px solid; padding: 15px 0; background-color: white;" name="EMAIL" placeholder="Email Address" value="" required="required" />
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0713301c8224b9979b17bdd9b_0e2ea9797e" tabindex="-1" value=""></div>
          </div>
          <br>
          <button id="mc-embedded-subscribe" style="width: 52px; width: 200px; margin-top: 0; border: 1px solid #9D5D3E;" type="submit" name="subscribe" value="">
            <span style="color: #9D5D3E; font-size: 16px">Subscribe</span>
          </button>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
      </div>
      <div id="nieuwsbrief-msg" style="display:none;">
        Thank you for subscribing!
      </div>
    </div>
    <p class="close-subcribe" style="cursor: pointer; position: absolute; top: 5px; right: 5px; color: #9D5D3E; font-size: 14px; margin-right: 5px;">X</p>
  </div>
  <div class="col-1 col-sm-4 col-md-4">
  </div>
</div>
<div class="aside-backdrop in"></div>