@using Nop.Core.Domain.Discounts;
@model IEnumerable<Discount>




<div class="row mx-3 mb-5" style=" position: absolute; width: 100%; bottom: 0; color: white;">
    <div class="col-md-2"></div>
    @for (int i = 0; i < 2; i++)
    {

<div class="col-md-4 col-sm-4">
    <div class="row p-3">
        <div class="col-9 col-md-9 col-sm-9 text-center body-coupon">
            <p style="font-size: 17px; font-weight: 400;" class="text-white d-flex justify-content-center align-items-center p-0 m-0">10% Off by using coupon code</p>
            <p style="font-size: 17px; font-weight: 600;" class="text-white d-flex justify-content-center align-items-center p-0 m-0" id="copy-coupon">BEATRICE101X</p>
        </div>
        <div class="col-3 col-md-3 col-sm-3 text-center d-flex justify-content-center align-items-center body-coupon" style="cursor: pointer;">
            <a style="font-size: 17px;" onclick="copyCouponCode()" type="button" id="copy-@i" data-toggle="tooltip" data-placement="top" title="Copy text">Copy</a>
        </div>
    </div>
</div>}
    <div class="col-md-2"></div>
</div>

<script>
    function copyCouponCode()
    {

        var dummy = document.createElement('input'),
        text = $("#copy-coupon").text();
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);


    }
    var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
	console.log(model);    
</script>

